/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--main-font, "IBM Plex mono"), sans-serif;
  font-size: var(--main-font-size, 1.125rem);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vh;
  font: inherit;
  padding: var(--section-padding);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
}

.header__theme-menu-button {
  font: inherit;
  min-height: 26px;
  padding: 0 13px;
  color: var(--menu-list-color);
  text-align: center;
  background-color: transparent;
  border: 0px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  border: solid 1px var(--hover-color);
  cursor: pointer;
}

.decorated-zone {
  position: relative;
}

.decorative__element {
  position: absolute;
  content: "";
  top: var(--section-padding);
  right: calc(9px + var(--section-padding));
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--accent-color);
  text-align: center;
  text-transform: uppercase;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-decor);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-decor-color);
}

.header__text {
  justify-self: end;
  align-self: center;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  top: var(--section-padding);
  right: var(--section-padding);
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  left: var(--section-padding);
  bottom: var(--section-padding);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  inline-size: 25px;
  block-size: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  gap: var(--main-gap);
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-color);
}

.section__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card__title {
  color: var(--title-decor-color);
  margin-bottom: 10px;
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-color);
  margin-top: 10px;
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__text-link:hover {
  border-bottom: solid 1px var(--card-color);
}

.card__text-link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--card-color);
}

.card__item {
  font-weight: 400;
}

.card__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--section-padding);
  margin-top: var(--section-padding);
}

.card__gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  min-block-size: 100vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 116px;
  color: var(--title-decor);
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --section-padding: 20px;
    --main-padding: 60px;
    --main-gap: 60px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: calc(-1 * var(--section-padding));
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    width: 50%;
  }

  .section_why,
  .section_recommendations {
    grid-template-columns: 1fr 2fr;
  }

  .section_what {
    grid-template-columns: repeat(3, 1fr);
  }

  .section_what .section__content {
    grid-column: 1 / span 3;
  }

  .card__gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .books {
    grid-column: 2;
    grid-row: 2;
  }

  .street {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section_why,
  .section_recommendations {
    grid-template-columns: repeat(3, 1fr);
  }

  .section_why .section__content,
  .section_recommendations .section__content {
    grid-column: 2 / span 2;
  }

  .section_what .section__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
