/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  background-image: var(--bg-image), url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, "IBM Plex mono"), sans-serif;
  font-size: var(--main-font-size, 1.125rem);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vh;
  font: inherit;
  padding: 10px;
}

.header__theme-menu-list {
  display: flex;
  margin-top: 75px;
  margin-right: 10px;
  flex-direction: column;
  align-self: flex-start;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-button {
  font: inherit;
  min-height: 26px;
  padding: 0 13px;
  color: #FF0070;
  text-align: center;
  background-color: transparent;
  border: 0px;
}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #FF0070;
}

.header__theme-menu-button:hover {
  border: solid 1px rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

.decorated-zone {
  position: relative
}

.decorative__element {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  margin-right: 19px;
  margin-top: 10px;
  align-items: center;
  color: #ff0070;
  text-align: center;
  text-transform: uppercase;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: #ff0070;
  fill: #ff0070;
  filter: drop-shadow(0px 2px 4px #ff0070);
}

.header__title {
  font-weight: 700px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #DB00ff;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 #FF0070;
  margin: 10px;
}

.title-decor {
  font-weight: 700;
  background-color: #ff0070;
  font-size: 18px;
  line-height: 23.4px;
  color: #000028;
}

.header__text {
  max-inline-size: 355px;
  max-block-size: 117px;
  justify-self: end;
  align-self: center;
}

.corner::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  inline-size: 25px;
  block-size: 25px;
  margin: 10px;
}

.corner::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  border-left: 1px solid #ff0070;
  border-bottom: 1px solid #ff0070;
  inline-size: 25px;
  block-size: 25px;
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: #000028;
}

.section__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: #000028;
  margin-bottom: 10px;
}

.title-regular-text {
  font-weight: 400;
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: #F1B2CE; 
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 #FF0070;
}

.card__text-link:hover {
  border-bottom: solid 1px #F1B2CE;
}

.card__text-link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #F1B2CE;
}

.card__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card__gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  min-block-size: 100vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 116px;
  color: #DB00FF;
  weight: 700;
  text-shadow: 2px 2px 0 #ff0070;
}