/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-decor: #db00ff;
  --title-decor-color: #000028;
  --border-color: #ff0070;
  --card-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.4);
  --section-padding: 10px;
  --main-padding: 40px;
  --main-gap: 50px;
}